body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  font-size: 16px;
  color: #3a3d42;
}

input:focus,
input:active {
  outline: none;
}

.wrapper {
  max-width: 560px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 1.75rem;
  color: #23272a;
}

.bg-green {
  background: #00a652;
}

.bg-pink {
  background: #ff7fc2;
}

.bg-blue {
  background: #006dfe;
}

input[type=radio] {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 40px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.tabsItem {
  margin-left: 12px;
  cursor: pointer;
  color: #db6f3e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .75rem;
}

.tabsItem_active {
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #3a3d42;
  opacity: .5;
}

.text {
  font-size: 2rem;
}

.tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #d0d5db;
  border-right-color: #c5c6e2;
  border-left-color: #c5c6e2;
  border-radius: 5px;
  padding: 0 33px 33px;
  margin-top: 18px;
  min-height: 238px;
  position: relative;
}

.tab-content.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.tab-content.hide {
  display: none;
}

.tab-content.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fonts {
  width: 100%;
}

.fontsItem {
  margin-top: 33px;
}

.fontsItem_big .fontsItem__bg {
  width: 86px;
  height: 86px;
}

.fontsItem_big .fontsItem__index {
  font-size: 1.75rem;
}

.fontsItem_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fontsItem_row .fontsItem__name {
  margin-top: 0;
  margin-left: 17px;
}

.fontsItem_active {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: .5;
}

.fontsItem__bg {
  width: 62px;
  height: 62px;
  border-radius: 7px;
  position: relative;
}

.fontsItem__bg:before {
  content: '';
  width: calc(100% + 5.5px);
  height: calc(100% + 5.5px);
  border: 2px solid #6f716c;
  border-bottom-color: #252523;
  border-radius: 11px;
  position: absolute;
  left: -5px;
  top: -5px;
}

.fontsItem__index {
  position: absolute;
  bottom: 8px;
  left: 8px;
  text-transform: uppercase;
  color: #fff;
  opacity: .3;
  font-weight: 700;
  font-size: 1.25rem;
}

.fontsItem__name {
  display: block;
  overflow-wrap: break-word;
  margin-top: 23px;
  padding-left: 17px;
  max-width: 164px;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.fontsItem__name:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  background: #999ba7;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.35rem;
  }

  .fontsItem__name {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    padding: 0 15px;
  }

  .tab-content {
    padding: 0 15px 33px;
  }

  .xs-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text {
    font-size: 1.75rem;
  }

  .tabs {
    margin-top: 15px;
    margin-left: auto;
  }

  .fontsItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .fontsItem__name {
    margin-left: 17px;
  }

  .fontsItem_big .fontsItem__bg {
    width: 60px;
    height: 60px;
  }

  .fontsItem_big .fontsItem__index {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=maps/style.css.map */
